<div class="cotn_principal">
    <div class="cont_centrar">
        <div class="cont_login">
            <div class="cont_info_log_sign_up">
                <div class="col_md_login">
                    <div class="cont_ba_opcitiy">
                        <h2>登录</h2>
                        <p>Life is sad at times, but it is up to you to make your own life happy.</p>
                        <button class="btn_login" id="btn_login">登录</button>
                    </div>
                </div>
                <div class="col_md_sign_up">
                    <div class="cont_ba_opcitiy">
                        <h2>注册</h2>
                        <p>Life is sad at times, but it is up to you to make your own life happy.</p>
                        <button class="btn_sign_up" id="btn_sign_up">注册</button>
                    </div>
                </div>
            </div>
            <div class="cont_back_info">
                <div class="cont_img_back_grey"> <img src="./public/images/po.jpg" alt="" /> </div>
            </div>
            <div class="cont_forms">
                <div class="cont_img_back_"> <img src="./public/images/po.jpg" alt="" /> </div>
                <div class="cont_form_login"> <a href="#" class="ocultar"><i class="material-icons">&#xE5C4;</i></a>
                    <h2>登录</h2>
                    <input type="text" id="signuser" placeholder="请输入用户名" />
                    <input type="password" id="signpas" placeholder="请输入密码" />
                    <button class="btn_login" id="signin">登录</button>
                </div>
                <div class="cont_form_sign_up"> <a href="#" class="ocultar"><i class="material-icons">&#xE5C4;</i></a>
                    <h2>注册</h2>
                    <input type="text" id="phone" placeholder="请输入手机号" />
                    <input type="text" id="username" placeholder="请输入用户名" />
                    <input type="password" id="password" placeholder="请输入密码" />
                    <input type="password" id="passwords" placeholder="请再次输入密码" />
                    <button class="btn_sign_up" id="register">注册</button>
                </div>
            </div>
        </div>
    </div>
</div>